.inner-container {
    background-color: #002857!important;
    color: #fff!important;
}

button.submit {
    border-radius: 0px;
    padding: 10px 25px;
    background-color: #fff;
    background-image: none;
}

  
